@using WebBanRauCu.ViewModels;  
@model LoginVM

@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
<div class="login-container">
    <div class="login-form">
        <h2 class="login-title">Login</h2>

        <form asp-action="Login" method="post"
              asp-route-returnurl="@ViewData["ReturnUrl"]">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label>
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>

            <div class="login-actions">
                <button type="submit" class="login-btn-submit">Login</button>

                <div class="login-footer">
                    <a asp-action="Register"
                       asp-route-returnurl="@ViewData["ReturnUrl"]">
                        Don't have an account? Register here
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
